html, body{
    padding: 0;
    margin: 0;
}

body *{
    box-sizing: border-box;
    display: flex;
    flex: 1;
    font-family: sans-serif;
}

.column{
    flex-direction: column;
}

.header{
    background-color: white;
    padding: 1% 3%;
    border-bottom: 0.1em solid #f3e5f5;
}

.logo{
    justify-content: start;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.clear-b{
    flex: none;
    width: 30%;
    height: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 255 255);
    border: 0.05em solid #eb5858;
}

.add-b{
    flex: none;
    width: 30%;
    height: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    background-color: rgb(255 255 255);
    border: 0.05em solid rgb(182, 181, 181);
}

.end{
    justify-content: end;
    align-items: center;
}

.notes{
    background-color: rgb(255, 255, 255);
    padding: 1% 5%;
    border-bottom: 0.5px solid rgb(180, 180, 180);
    height: 100%;
    width: 100%;
    border-bottom: 0.1em solid #f3e5f5;
}

.note-buttons{
    width: 5%;
    height: 5%;
    position: relative;
    justify-content: center;
    align-items: center;
    flex: none;
}

.margin{
    margin: 0 0 2em 0;
}

.img{
    max-width: 100%;
    max-height: 100%;
    flex: none;
}
    
.note-buttons-img6{
   max-width: 20px;
   position: relative;
   height: 20px;
}

.note-buttons-img3{
    max-width: 20px;
    max-height: 20px;
    position: relative;
}

.date{
    color: grey;
    font-size: 0.8em;
    font-style: italic;
}

.text{
    font-size: 1.2em;
    color: #5a5959;
}

.buttons > *{
    border: none;
    background: none;
}