html, body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

body *{
    box-sizing: border-box;
    display: flex;
    flex: 1;
    font-family: sans-serif;
}

.column{
    flex-direction: column;
}

.header{
    background-color: white;
    padding: 1% 3%;
    border-bottom: 0.1em solid #dddada;
    flex: none;
}

.logo{
    justify-content: start;
    font-size: 2em;
    color: black;
    font-weight: bold;
}

.header-b{
    flex: none;
    padding: 1em;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    background-color: rgb(255 255 255);
}

.clear-b{
    border: 0.05em solid #dddada;
}

.add-b{
    border: 0.05em solid rgb(182, 181, 181);
    background-color: #47a94a;
    color: white;
}

.end{
    justify-content: end;
    align-items: center;
}

.notes{
    background-color: rgb(255, 255, 255);
    padding: 1% 5%;
    height: 100%;
    width: 100%;
    border-bottom: 0.00625em solid #dddada;
}

.note-buttons{
    border: none;
    background: none;
    padding: 0 0.5em;
    position: relative;
    justify-content: center;
    align-items: center;
    flex: none;
}

.img{
    max-width: 100%;
    max-height: 100%;
    flex: none;
}
    
.note-buttons-img6{
   max-width: 1.5em;
   position: relative;
   height: 1.5em;
}

.note-buttons-img3{
    max-width: 1.5em;
    max-height: 1.5em;
    position: relative;
}

.date{
    color: grey;
    font-size: 0.8em;
    font-style: italic;
}

.text{
    font-size: 1.2em;
    color: #5a5959;
    padding: 0.5em 0;
}

.message{
    color: rgb(185, 185, 185);
    text-align: center;
    font-size: 1em;
    justify-content: center;;
    align-items: center;
    display: flex;
    padding: 2em;
}

.footer{
    font-size: 0.8em;
    color: #a3a3a3;
    padding: 3em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    line-height: 1.6em;
    border-top: 0.00625em solid #dddada;
    flex: none;
}

.height{
    height: 100vh;
}

.display-block{
    display: block;
}

.display-none{
    display: none;
}

.addNote-box{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.301);
    height: 100%;
    width: 100%;
    z-index: 999;
}

.addNote-box .addNote{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    max-width: 400px;
    width: 100%;
}

.addNote{
    background: #fff;
}

.button-x{
    border: none;
    background: white;
    font-size: 1em;
}

.padding{
    padding: 0 1em;
}

.textarea{
    height: 10em;
}

.saveNote{
    padding: 1em;
    justify-content: end;
}

.saveNote-b{
    text-align: center;
    background: #48af48;
    justify-content: center;
    padding: 1em;
    flex: none;
    border: none;
    color: white;
}